/*текст выплывает сверху*/
/*0% и 100%: Эти значения представляют начальное и конечное состояния анимации. На 0% (начало анимации) устанавливаются свойства для начального состояния (текущее положение - 100% по вертикали и нулевая прозрачность),
а на 100% (конец анимации) устанавливаются свойства для финального состояния (текущее положение - 0% по вертикали и полная видимость).*/
@keyframes fromTop { 

    /*transform: translateY(): Это CSS-свойство применяет перевод элемента вдоль оси Y (вертикальное перемещение). При translateY(-100%) элемент сдвигается вверх на 100%, а при translateY(0) возвращается в исходное положение.*/
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.header{
    background-color: rgba(183, 179, 179, 0.021);
}
.logo {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    animation: fromTop 5s ease forwards;
}

.descr-logo {
    letter-spacing: 2px;
    margin-top: -15px;
    font-family: 'Montserrat', sans-serif;
    animation: fromTop 5s ease forwards;
}

@media (max-width: 390px){
    .logo {
        padding-top:10px;
        font-size: 23px;
    }
    
    .descr-logo {
        font-size: 12px;
        padding-bottom: 10px;
    }
}