.form{
    /* display: grid; */
    background-image: url('ImgContact/background1.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 80px;
    padding-bottom: 80px;
}
form{

    
}
.decr-form{
   
    /* align-items: center; */
padding: 0px 100px 0px 100px;
        letter-spacing: 2px;
        font-size: 20px;
}
.item-form input,
.item-form textarea,
.item-form select{
    box-shadow: 1px 1px 1px 1px rgba(126, 123, 123, 0.31);
    font-family: 'Montserrat', sans-serif;
    width: 32%;
    margin-top: 20px;
    color: black;
    text-align: start;
    font-size: 15px;
    letter-spacing: 2px;
    /* border-radius: 10px; */
    padding-left: 20px;
    border: none;
    background-color: rgba(240, 248, 255, 0.278);
    cursor: pointer;
 
}
.item-form input:hover,
.item-form textarea:hover{
 background-color: rgba(240, 248, 255, 0.76);
}
    
.item-form input{
    height: 40px;
    padding-top: 3px;
}
.item-form textarea{
    height: 100px;
    padding-top: 10px;
    
}
.item-form select{
    width: 33.2%;
    height: 40px;
    padding-top: 3px;
    color: rgba(0, 0, 0, 0.68);
}
.item-form select:hover{
    background-color: rgba(240, 248, 255, 0.76);
}
button{
    box-shadow: 1px 1px 1px 1px rgba(126, 123, 123, 0.31);
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    cursor: pointer;
    margin-top: 20px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: 0.5px solid rgba(0, 0, 0, 0.095);
    background-color: rgba(240, 248, 255, 0.278);
}
button:hover{
    border: 0.5px solid rgba(0, 0, 0, 0);
    background-color: rgba(240, 248, 255, 0.657);
}

.out{
    margin-top: 20px;
    height: 40px;
    /* border: 0.5px solid rgba(0, 0, 0, 0.095);
    background-color: rgba(240, 248, 255, 0.278); */
    align-items: center;
    padding: 0px 690px 15px 690px;
    letter-spacing: 2px;
    font-size: 22px;
    color: rgb(23, 24, 24);
    
}
option{
    background-color: rgba(240, 248, 255, 0.755);
}

@media (max-width: 390px){
    .form {
        background-image: url('ImgContact/background1.png');
        background-size: auto;
        background-repeat: no-repeat;
        padding-top: 20px;
        padding-bottom: 20px;
        }
    
    .decr-form {
        align-items: center;
        padding: 0px 10px 0px 10px;
        font-size: 15px;
    }
    .item-form input,
    .item-form textarea,
    .item-form select {
        width: 70%;
        margin-top: 10px;
        font-size: 15px;
        letter-spacing: 2px;
    }
    
    .item-form textarea {
        height: 150px;
    }
    
    .item-form select {
        width: 76%;
        }

    button {
        width: 150px;
        height: 60px;
    }

    .out {
        margin-top: 20px;
    padding: 0px 100px 0px 100px;
        letter-spacing: 2px;
        font-size: 20px;
        color: rgb(209, 217, 217);
    }
    
}

@media (max-width: 415px){
.form {
        background-image: url('ImgContact/background1.webp');
        background-size: auto;
        background-repeat: no-repeat;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .decr-form {
        align-items: center;
        padding: 0px 10px 0px 10px;
        font-size: 15px;
    }

    .item-form input,
    .item-form textarea,
    .item-form select {
        width: 70%;
        margin-top: 10px;
        font-size: 15px;
        letter-spacing: 2px;
    }

    .item-form textarea {
        height: 150px;
    }

    .item-form select {
        width: 76%;
    }

    button {
        width: 150px;
        height: 60px;
    }

    .out {
        margin-top: 20px;
        padding: 0px 100px 0px 100px;
        letter-spacing: 2px;
        font-size: 20px;
        color: rgb(209, 217, 217);
    }
}
@media (min-width: 768px) {
    .form {
         margin-top: -50px;
            padding-top: 30px;
           
        }
    .decr-form {
            align-items: center;
            padding: 0px 20px 0px 20px;
            font-size: 18px;
        }
    .item-form input,
        .item-form textarea,
        .item-form select {
            width: 50%;
            color: rgb(11, 11, 11);
            
        }
    
        .item-form select {
            width: 52.5%;
        }
    
        .out {
            color: rgb(229, 236, 236);
            padding: 0px 50px 0px 50px;
            letter-spacing: 2px;
            font-size: 15px;
        }
}

/* Устройства со средним экраном (ноутбуки и компьютеры, 992px и выше) */
@media (min-width: 992px) {
    .item-form input,
    .item-form textarea,
    .item-form select {
        width: 45%;
        color: rgb(11, 11, 11);
    }
    
        .item-form select {
            width: 46.5%;
        }
    
        .out {
            color: rgb(229, 236, 236);
            padding: 0px 150px 0px 150px;
            letter-spacing: 2px;
            font-size: 20px;
        }
}

/* Устройства с большим экраном (компьютеры, 1200px и выше) */
@media (min-width: 1200px) {
    .item-form input,
    .item-form textarea,
    .item-form select {
        width: 45%;
        color: rgb(11, 11, 11);
        
    }

    .item-form select {
         width: 46.5%;
    }

    .out {
        color: rgb(229, 236, 236);
    padding: 0px 150px 0px 150px;
        letter-spacing: 2px;
        font-size: 20px;
    }

}